src/experiments_replication/results_qwen1.5b/*
src/models/
out_pt/
.env
.venv/
.venv/
venv/*
.env
.env.*
*.swp
*.swo
*.swn
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
__pycache__/
*.pyc
venv/
.venv/
**/buckets_activations/
**/buckets_activations_v2/
**/buckets_activations_original/
**/activations/*
